{% extends "base.html" %}






{% block main %}

<div class="d-flex justify-content-center">
    <form method="post" action="." enctype="multipart/form-data" class="w-50 border mt-5 p-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mt-3">Name</label>
            <br>
            {{fo.name}}
            <br>
            <label for="exampleInputEmail1" class="form-label mt-3">Discription</label>
            <br>
            {{fo.dis}}
            <br>
            <label for="exampleInputEmail1" class="form-label mt-3">Playing Possision</label>
            <br>
            {{fo.sub}}
            <br>
            <label for="exampleInputEmail1" class="form-label mt-3">Image</label>
            <br>
            {{fo.img}}
            <br>
            
            <button class="btn btn-dark mt-3" type="submit">Submit</button>
            
    </form>
    </div>


{% endblock %}